*, ::before, *::after{
  box-sizing: inherit;
  margin: 0px;
  padding: 0px; 
}

html{
box-sizing: border-box; 
} 

body { 
  margin: 0 auto;
  padding: 0;
  display: grid;
  place-items: grid;
  margin-left: auto;
  margin-right: auto; 
  min-height: 100vh; 
}

footer-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: gray !important;
}

 
footer{
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  max-width: 1298px;
  height: auto;
}
 

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
